<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CabinPi.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/weather-icons-master/css/weather-icons.min.css" />
    <link rel="stylesheet" href="~/lib/weather-icons-master/css/weather-icons-wind.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li is-active-route asp-page="Index" class="nav-item">
                    <a class="nav-link" asp-page="Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item" is-active-route asp-page="Forecast">
                    <a class="nav-link" asp-page="Forecast"><i class="fa fa-sun"></i> Weather</a>
                </li>
                <li class="nav-item" is-active-route asp-page="Pass">
                    <a class="nav-link" asp-page="Pass"><i class="fa fa-car"></i> Pass</a>
                </li>
                <li class="nav-item" is-active-route asp-page="Camera">
                    <a class="nav-link" asp-page="Camera"><i class="fa fa-camera"></i> Camera</a>
                </li>
            </ul>
        </div>
    </nav>


    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/sparkline/sparkline.js"></script>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
