@page
@model CabinPi.Web.Pages.CameraModel
@{
    ViewData["Title"] = "Camera";
}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="?handler=latestimage" asp-append-version="true" />
        </div>
    </div>
</div>



