@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" id="container" data-sensor-url="@Url.Content("~/api/Sensor")">
    <div class="row">
        <div class="col-sm">
            <div class="card text-white bg-dark" id="outside-temp-card">
                <div class="card-header">Outside</div>
                <div class="card-body">
                    <h1><span id="outsideTemp">--</span>°</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark" id="inside-temp-card">
                <div class="card-header">Inside</div>
                <div class="card-body">
                    <h1><span id="insideTemp">--</span>°</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card text-white bg-dark" id="battery-state-card">
                <div class="card-header">System State</div>
                <div class="card-body">
                    <h1><span id="batteryState">--</span></h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark" id="battery-charge-card">
                <div class="card-header">Battery</div>
                <div class="card-body">
                    <h1><span id="batteryCharge">--</span>V</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark" id="panel-voltage-card">
                <div class="card-header">Panel Voltage</div>
                <div class="card-body">
                    <h1><span id="panelVoltage">--</span>V</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Amp Hours</div>
                <div class="card-body">
                    <h1><span id="ampHours">--</span>Ah</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function updateSensors() {
            $.get($("#container").data("sensor-url"), function (data) {
                $("#outsideTemp").html(data.outsideTemp);
                $("#insideTemp").html(data.insideTemp);
                $("#batteryState").html(data.batteryState);
                $("#batteryCharge").html(data.batteryCharge);
                $("#panelVoltage").html(data.panelVoltage);
                $("#ampHours").html(data.ampHours);

                $("#inside-temp-card").removeClass("bg-danger bg-warning bg-success bg-info bg-light bg-dark")
                    .addClass("bg-" + data.insideTempClass);
                $("#outside-temp-card").removeClass("bg-danger bg-warning bg-success bg-info bg-light bg-dark")
                    .addClass("bg-" + data.outsideTempClass);
                $("#battery-state-card").removeClass("bg-danger bg-warning bg-success bg-info bg-light bg-dark")
                    .addClass("bg-" + data.batteryStateClass);
                $("#battery-charge-card").removeClass("bg-danger bg-warning bg-success bg-info bg-light bg-dark")
                    .addClass("bg-" + data.batteryChargeClass);
                $("#panel-voltage-card").removeClass("bg-danger bg-warning bg-success bg-info bg-light bg-dark")
                    .addClass("bg-" + data.panelVoltageClass);
            });
        }

        $(function () {
            updateSensors();
            setInterval(function () {
                console.log("Updating Sensors");
                updateSensors();
            }, 60000);


        })
    </script>
}